.obnoxious-button {
  border: 1px solid #dba500;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe788), color-stop(100%, #ffce38));
  background: -webkit-linear-gradient(#ffe788, #ffce38);
  background: -moz-linear-gradient(#ffe788, #ffce38);
  background: -o-linear-gradient(#ffe788, #ffce38);
  background: -ms-linear-gradient(#ffe788, #ffce38);
  background: linear-gradient(#ffe788, #ffce38);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #FFE788;
  margin-left: 5px;
  padding: 10px 12px;
  margin-top: 6px;
  margin-bottom: 30px;
  line-height: 14px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}
.obnoxious-button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe788), color-stop(100%, #ffe788));
  background: -webkit-linear-gradient(#ffe788, #ffe788);
  background: -moz-linear-gradient(#ffe788, #ffe788);
  background: -o-linear-gradient(#ffe788, #ffe788);
  background: -ms-linear-gradient(#ffe788, #ffe788);
  background: linear-gradient(#ffe788, #ffe788);
  background-color: #ffeca0;
}